<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication Complete</title>
  </head>
  <body>
    <h1>
      Authentication completed successfully, please go back to the app and hit
      refresh
    </h1>
    <script>
      // Disable back button
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        history.go(1);
      };
    </script>
  </body>
</html>
